@{
    ViewData["Title"] = "Home Page";
}
@model BooksListViewModel



    <h1>My Bookstore</h1>

<div>
    @foreach(Book b in Model.Books)
    {
        <div class="card m-1 p-1">
        <ul>
            <li>Title: @b.Title</li>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.ISBN</li>
            <li>Genre: @b.Classification</li>
            <li>Pages: @b.PageCount</li>
            <li>Price: $@b.Price</li>
        </ul>
        </div>
    }



</div>

<div page-model="@Model.PaginationInfo" page-action="Index"></div>